html{
  background-color: black;
  font-family: 'Dokdo', cursive;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: white;
}

.cover{
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;}

.unclickable{
  pointer-events: none;
}

.ready{
  position: absolute;
  top: 35%;
  background-color: black;
  width: 70vw;
  height: 30vw;
}

.flexContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexItem{
  align-self: center;
}

.text{
  padding: 0px;
  margin: 0px;
  font-size: 100px;
  height: 100px;
}

.subText{
  margin: 0px;
  font-family: 'Muli', sans-serif;
}


.button{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vw;

  background-color: crimson;
}

@keyframes fadeAway {
  0%{
    opacity: 100;
  }

  50%{
    opacity: 50;
  }

  100%{
    opacity: 0;
  }
}
