html{
  background-color: black;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.cover{
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;}

.unclickable{
  pointer-events: none;
}

.ready{
  position: absolute;
  top: 20%;
  background-color: white;
  width: 70vw;
  height: 30vw;
}

.button{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vw;

  background-color: crimson;
}

@keyframes fadeAway {
  0%{
    opacity: 100;
  }

  50%{
    opacity: 50;
  }

  100%{
    opacity: 0;
  }
}
